/.idea/workspace.xml
/.idea/libraries
/.idea/shelf
/.idea/caches

.gradle
/captures

*.iml
.DS_Store
.externalNativeBuild

/build
*/build

local.properties

random-ticker-app/google-services.json
play_store_secret.json
app/google-services.json
