*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches
random-ticker-app/google-services.json
play_store_secret.json
google-services.json
*/build