<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns:dist="http://schemas.android.com/apk/distribution"
		xmlns:tools="http://schemas.android.com/tools">

	<dist:module dist:instant="true" />

	<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
	<uses-permission android:name="android.permission.USE_EXACT_ALARM" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<application
			android:name=".TickerApplication"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="Random Ticker"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">
		<receiver
				android:name=".receiver.AlarmEndedReceiver"
				android:enabled="true"
				android:exported="false" />
		<receiver
				android:name=".receiver.CreateAlarmReceiver"
				android:enabled="true"
				android:exported="false" />

		<activity
				android:name=".ui.main.MainActivity"
				android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<meta-data
					android:name="default-url"
					android:value="https://randomticker-84c18.firebaseapp.com/index" />

			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="https" />
				<data android:host="randomticker-84c18.firebaseapp.com" />
				<data android:scheme="http" />
				<data android:host="randomticker-84c18.firebaseapp.com" />
			</intent-filter>
		</activity>
		<activity
				android:name=".ui.klaxon.KlaxonActivity"
				android:launchMode="singleTop"
				android:showOnLockScreen="true"
				android:turnScreenOn="true"
				tools:targetApi="o_mr1" />
		<activity
				android:name=".ui.preferences.SettingsActivity"
				android:label="@string/title_activity_settings"
				android:parentActivityName=".ui.main.MainActivity" />
		<activity android:name=".ui.cancel.CancelActivity" />

		<activity
				android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
				android:parentActivityName="com.google.android.gms.oss.licenses.OssLicensesMenuActivity" />
		<activity
				android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
				android:parentActivityName=".ui.preferences.SettingsActivity"
				android:theme="@style/AppTheme.Licenses" />
	</application>

</manifest>